/* COMBINADOR DESCENDIENTE 
div p {
    background-color: greenyellow;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: bold;
}*/

div > p {
    background-color: rgb(127, 200, 255);
    padding: 2px;
    border: 1px dashed black;
}

/* COMBINADOR SIGUIENTE HERMANO */
div +p{
    background-color: cornflowerblue;
    color: cornsilk;
    font-size: 24px;
}

div ~ p {
    background-color: rgb(8, 19, 95);
    color: whitesmoke;
}

.link:hover {
    color: darkslateblue;
}

.link:link {
    color:violet;
}

.link:focus {
    font-weight: bold;
}

.link:active {
    color:blueviolet;
}

.link:visited {
    color:darkorchid;
}

#lorem::first-line {
    font-weight: bold;
    background-color: darkviolet;
    color:azure
}

#lorem::first-letter {
    font-weight: bold;
    font-size: 50px;
}

div::before {
    content: "🏇🏻​";
}

div::after {
    content: "💙";
}

::marker {
    color: blue;
}

::selection {
    background-color: plum;
    color: palevioletred;
}