.container {
    display: flex;
    height: 400px;
    align-items: flex-start;
}

.container div {
    border: 20px;
    background-color:rgb(215, 160, 245);
    color:blueviolet;
    height: 20px;
    text-align: center;
    padding: 15px;
}

/*
.container {
   display:flex;
   flex-direction: column;
}

.container {
   display: flex;
   flex-direction: row-reverse;
}

.container {
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.container div {
   width: 300px;
}

.container {
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
}

.container div {
   width: 100;
}

.container {
   display: flex;
   height: 400px;
   justify-content: center;
   align-items: center;
}

.container {
   display: flex;
   height: 400px;
   align-items: flex-end;
}

.container {
   display: flex;
   flex-wrap: wrap;
   height: 400px;
   align-content: space-around;
}

.container div {
    width: 300px;
}
*/

#div1 { order: 7;}
#div2 { order: 6;}
#div3 { order: 5;}
#div4 { order: 4;}
#div5 { order: 3;}
#div6 { order: 2;}
#div7 { order: 1;}

#div1 { flex-grow: 2;}
#div2 { flex-grow: 1;}
#div3 { flex-grow: 3;}
#div4 { flex-grow: 6;}
#div5 { flex-grow: 3;}
#div6 { flex-grow: 3;}
#div7 { flex-grow: 1;}

#div4 {
    align-self: flex-end;
}